<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT BaseDocument ANY>
<!ATTLIST BaseDocument id ID #REQUIRED>
<!ELEMENT GenericContent ANY>
<!ATTLIST GenericContent id ID #REQUIRED>
<!ELEMENT Project ANY>
<!ATTLIST Project id ID #REQUIRED>
<!ELEMENT ProjectLanding ANY>
<!ATTLIST ProjectLanding id ID #REQUIRED>

]>
<root id="-1">
  <GenericContent id="1050" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1045" template="1046" sortOrder="2" createDate="2012-05-29T14:14:27" updateDate="2012-05-29T14:15:12" nodeName="Home" urlName="home" writerName="admin" creatorName="admin" path="-1,1050" isDoc="">
    <mainContent><![CDATA[
<p>home page!</p>
]]></mainContent>
    <mainImage>
    </mainImage>
    <pageTitleOverride>
    </pageTitleOverride>
    <pageDescription>
    </pageDescription>
    <GenericContent id="1051" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1045" template="1046" sortOrder="1" createDate="2012-05-29T14:16:37" updateDate="2012-05-29T14:16:41" nodeName="About" urlName="about" writerName="admin" creatorName="admin" path="-1,1050,1051" isDoc="">
      <mainContent><![CDATA[
<p>about page!</p>
]]></mainContent>
      <mainImage>
      </mainImage>
      <pageTitleOverride>
      </pageTitleOverride>
      <pageDescription>
      </pageDescription>
    </GenericContent>
    <ProjectLanding id="1053" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1047" template="1048" sortOrder="2" createDate="2012-05-29T14:17:11" updateDate="2012-05-29T14:17:15" nodeName="Portfolio" urlName="portfolio" writerName="admin" creatorName="admin" path="-1,1050,1053" isDoc="">
      <pageTitleOverride>
      </pageTitleOverride>
      <pageDescription>
      </pageDescription>
      <Project id="1056" parentID="1053" level="3" writerID="0" creatorID="0" nodeType="1049" template="0" sortOrder="1" createDate="2012-05-29T14:18:51" updateDate="2012-05-29T14:34:14" nodeName="Hew Designs" urlName="hew-designs" writerName="admin" creatorName="admin" path="-1,1050,1053,1056" isDoc="">
        <projectTitle>Hew Designs</projectTitle>
        <mainImage>1067</mainImage>
        <hoverDescription><![CDATA[Holly Walter is an accessory designer in Minneapolis who designs amazing messenger bags and custom server aprons. Holly wanted a simple logo that incorporated her love of art nouveau and warm colors from nature. <a href="http://www.hewdesigns.etsy.com" rel="external">www.hewdesigns.etsy.com</a>]]></hoverDescription>
        <projectImageFolder>1058</projectImageFolder>
      </Project>
    </ProjectLanding>
    <GenericContent id="1054" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1045" template="1046" sortOrder="3" createDate="2012-05-29T14:17:30" updateDate="2012-05-29T14:17:36" nodeName="Resume" urlName="resume" writerName="admin" creatorName="admin" path="-1,1050,1054" isDoc="">
      <mainContent><![CDATA[
<p>resume page!</p>
]]></mainContent>
      <mainImage>
      </mainImage>
      <pageTitleOverride>
      </pageTitleOverride>
      <pageDescription>
      </pageDescription>
    </GenericContent>
    <GenericContent id="1055" parentID="1050" level="2" writerID="0" creatorID="0" nodeType="1045" template="1046" sortOrder="4" createDate="2012-05-29T14:17:43" updateDate="2012-05-29T14:17:50" nodeName="Contact" urlName="contact" writerName="admin" creatorName="admin" path="-1,1050,1055" isDoc="">
      <mainContent><![CDATA[
<p>contact page!</p>
]]></mainContent>
      <mainImage>
      </mainImage>
      <pageTitleOverride>
      </pageTitleOverride>
      <pageDescription>
      </pageDescription>
    </GenericContent>
  </GenericContent>
</root>